@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

/* body {
    color: #fff;
    background-color: #111111;
    font-family: 'Inter', sans-serif;
} */