.input:focus {
    background-color: #fefefe !important;
    border: 1px solid #1e9de7 !important;
}

.input:focus-visible {
    background-color: #fefefe !important;

    outline: 1px solid #1e9de7 !important;
}